

thead{
    background: teal;
    color: #fff;
    text-align: center;
}
tbody{
    background: whitesmoke;
    color: rgb(0, 0, 0);
    text-align: center;
}

a{
    text-decoration: none;
    color: teal;
    font-weight: 600;
}