thead{
    background: teal;
    color: #fff;
    text-align: center;
    font-size: 14px;
}
tbody{
    background: whitesmoke;
    color: rgb(0, 0, 0);
    text-align: center;
    font-weight: 13px;
}

a{
    text-decoration: none;
    color: teal;
    font-size: 13px;
}
.btn-primary {
    color: #fff;
    background-color: #008080;
    border-color: #008080;
}